md-list-item > a {
          width:100%;
        }
        md-sidenav  md-list {
          padding: 0px 0px 8px 0px;
        }
        html, body {
          font-family: 'Roboto', sans-serif;
          font-size:14px;
          height:100%;
          margin: 0px;
          padding: 0px;
        }